<%= form_for(artist) do |f| %>
  <div class="field">
    <%= f.label :name, value: "Artist Name", class: "label" %>
    <div class="control">
      <%= f.text_field :name, class: "input" %>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary">Save</button>
    </div>
    <div class="control">
      <button class="button is-danger">Cancel</button>
    </div>
  </div>

<% end %>
