<div class="columns">
  <div class="column is-11">
    <h1 class="title">New Album for <%= @album.artist_name %></h1>
  </div>
</div>
<div class="columns">
  <div class="column is-11">
    <%= render "albums/partials/form", album: @album, action: "create" %>
  </div>
</div>
